/* Custom styles to override or complement Bootstrap */
:root {
  --coinbase-blue: #0052ff;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content-wrapper {
  text-align: center;
  padding: 0 20px;
}

.header {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.explorer-text {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  gap: 10px;
  width: 90%;
  padding-left: 50px;
}

.form-control {
  border-radius: 30px;
  border-color: var(--light-gray);
}

.btn-primary {
  background-color: var(--coinbase-blue);
  border-color: var(--coinbase-blue);
  border-radius: 30px;
  white-space: nowrap; /* Prevent text wrapping */
  min-width: 150px; /* Ensure button is wide enough */
  padding: 10px 30px; /* Adjust padding to keep button size consistent */
}

.btn-primary:hover {
  background-color: #0041a4;
  border-color: #0041a4;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top of everything else */
}

.loading-spinner {
  border: 8px solid black; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Mobile specific styles */
@media (max-width: 767px) {
  .header {
    font-size: 2em;
  }

  .explorer-text {
    font-size: 1.2em;
  }

  .search-container {
    flex-direction: column;
  }

  .form-control {
    width: 100%;
  }

  .btn-primary {
    width: 100%; /* Full width on mobile for touch interaction */
    padding: 15px 20px; /* Increase padding for better touch interaction */
    white-space: normal; /* Allow text to wrap on very narrow screens */
  }
}